<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained","contentSize":"780px"},"style":{"spacing":{"padding":{"top":"48px","bottom":"48px"}}}} -->
<main class="wp-block-group" style="padding-top:48px;padding-bottom:48px">
	<!-- wp:post-title {"level":1} /-->
	<!-- wp:group {"style":{"color":{"text":"#666"},"typography":{"fontSize":"sm"}}} -->
	<div class="wp-block-group has-text-color" style="color:#666">
		<!-- wp:post-date /--> • <!-- wp:post-terms {"term":"category"} /-->
	</div>
	<!-- /wp:group -->
	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
	<!-- wp:comments /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
